.header {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-xs) var(--gap-xl);
    position: relative;
    z-index: 1;
    background-color: white;
    cursor: pointer;
}

.menuButton {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text {
    padding-bottom: var(--gap-s);
    padding-left: var(--gap-xs);
}