.imageWrapper {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    margin: 4px;
}

.pageImage {
    width: 100%;
    aspect-ratio: 1/1.2;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery {
    display: flex;
    flex-wrap: wrap; 
    max-width: 850px; 
}

.description {
    width: 100%;
    font-size: 16px;
}