.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: var(--gap-m) var(--gap-8xl);
    justify-content: center;
    align-items: flex-start;
}

.pageImage {
    width: 295px;
    height: 355px;
}

.link {
    text-decoration: none;
}

.pageTitle {
    font-size: 80px;
    line-height: 52px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}