.image {
    width: 70px;
    height: 70px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    background-color: black;
}

.button:hover {
    background-color: black;
}

.title {
    font-size: 16px;
    line-height: 18px;
}

.text {
    font-size: 14px;
    line-height: 18px;
}

.contentWrapper {
    padding: 0 var(--gap-xl);
}
