.header {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-xs) var(--gap-3xl);
    position: relative;
    z-index: 1;
    background-color: white;
    cursor: pointer;
}

.menuButton {
    display: flex;
    align-items: center;
    cursor: pointer;
}