.pageWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pageImage {
    width: 295px;
    height: 380px;
}

.link {
    text-decoration: none;
}

.pageTitle {
    font-size: 80px;
    line-height: 52px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}