.pageWrapper {
    display: flex;
    flex-direction: row;
    height: 98%;
    overflow: hidden;
}

.pageImageWrapper {
    width: 50%;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: #000000;  
}

.pageImageWrapperRight {
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
    background: #000000; 
}

.pageImage {
    width: 100%;
    object-fit: cover;
    height: 933px;
}

.pageImage:hover{
    opacity: 0.85;
}

